<!doctype html>
<html>
  <head>
    
  </head>
  <body>
    <from method = "POST" action ="/" >
      <input type="text" name="name"/>
      <input type="text" breed="breed"/>
      <input type="text" age="age"/>
      <input type="submit" id="submit"/>
    </from>
  </body>
</html>
