<!doctype html>
<html>
  <head>
    <title>Punny</title>
  </head>
  <body>
    <from>
      <input type="text" name="name"/>
      <input type="text" breed="breed"/>
      <input type="text" age="age"/> 
    </from>
  </body>
</html>