<!DOCTYPE html>
<html>
  <head>
    <title>Punny</title>
  </head>
  <body>
    <h1>Punny Name</h1>
    <%= @name %>
    <h1>Punny Breed</h1>
    <%= @breed %>
    <h1>Punny Age</h1>
    <%= @age %>
  </body>
</html>
