<!DOCTYPE html>
<html>
  <head>
    <title>Punny</title>
  </head>
  <body>
    <h2>Punny Name:</h2>
    <%= @name %>
    <h2>Punny Breed:</h2>
    <%= @breed %>
    <h2>Punny Age:</h2>
    <%= @age %>
  </body>
</html>
